* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	min-height: 100vh;
	background-color: #eee;
}
		
.cards {
	display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 15px;
    grid-auto-rows: 470px;
    padding: 0;
    justify-content: center;
    list-style: none;
    overflow: hidden;;
}

.cards li {
	border-radius: 4px;
	max-width: 400px;
	height: 345px;
	margin: 1em;
	cursor: pointer;
	position: relative;
	margin: auto;
}

.img {
	width: 100%;
}

.img img {
	height: 100%;
	width: 100%;
	
}

.text {
	position: absolute;
	background: #99b6ca;
	height: 96%;
    width: 94%;
    color: darkslateblue;
	z-index: 1;
	border-radius: 4px;
	text-align: center;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

li:hover .overlay {
	height: 100%;
}

.cardName {
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f7f3f3;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #4b5d31;
    font-weight: 900;
    margin-top: -10px;
    border: 6px solid #fde264;
}


form {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	width: 100%;
    outline: none;
    border: none;
    border-bottom: 3px solid #7c8a14;
    padding: 0.5em 0;
    font-size: 1.5em;
    color: #9e3081;
    background-color: transparent;
}

input::placeholder {
	color: #a59d9d;
}